@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'variables';
@import './components/';
@import './components/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
  url('https://i.imgur.com/70hKjgk.jpg');
  background-color: $favColor;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}