.group-button-container {
  margin-top: 50%;
}

.single-group-header {
  width: 33vw;
  margin-left: 20vw;
}

.group-active-users {
  width: 15vw;
  margin-left: 15vw;
  margin-top: 3vh;
}

.group-inactive-users {
  width: 15vw;
  margin-left: 2vw;
  margin-top: 3vh;
}

.search-results {
  margin-left: 15vw;
  margin-top: 5vw;
}

.individual-results {
   width: 20vw
}