.group-button-container {
  margin-top: 5vw;
}

.single-group-header {
  width: 50vw;
  margin-left: 15vw;
  margin-right: 2em;
  margin-top: 5vw;
  color: $tertiaryColor;
}

.group-active-users {
  width: 15vw;
  margin-top: 3vh;
}

.group-inactive-users {
  width: 15vw;
  margin-top: 3vh;
}

.group-members {
  display: flex;
  margin-top: 5em;
  margin-right: 15vw;
  color: $tertiaryColor;
  background-color: $secondaryColor;
  border: solid $favColor 2px;
  box-shadow: 0 5px 10px rgba( #000, .8 );
}

.search-results {
  margin-left: 15vw;
  margin-top: 5vw;
}

.individual-results {
   width: 20vw
}

.group-button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.group-button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.group-button:active {
  outline: none;
  border: none;
}

.group-button:focus {
  outline: 0;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.deactivate-button {
  color: hsl(0, 100%, 70%);;
}

.deactivate-button:focus {
  color: hsl(0, 100%, 70%);;
}

.approve-button {
  color: hsl(120, 60%, 70%)
}

.approve-button:focus {
  color: hsl(120, 60%, 70%)
}

.deactivate-button:hover {
  color: red;
}

.approve-button:hover {
  color: green;
}