.group-button-container {
  margin-top: 50%;
}

.single-group-header {
  width: 33vw;
  margin-left: 20vw;
}

.group-active-users {
  width: 15vw;
  margin-left: 15vw;
  margin-top: 3vh;
}

.group-inactive-users {
  width: 15vw;
  margin-left: 2vw;
  margin-top: 3vh;
}

.search-results {
  margin-left: 15vw;
  margin-top: 5vw;
}

.individual-results {
   width: 20vw
}

.group-button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.group-button:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.group-button:active {
  outline: none;
  border: none;
}

.group-button:focus {
  outline: 0;
}

.deactivate-button {
  color: hsl(0, 100%, 70%);;
}

.approve-button {
  color: hsl(120, 60%, 70%)
}

.deactivate-button:hover {
  color: red;
}

.approve-button:hover {
  color: green;
}