.group-card-img {
  width: 20vw;
  height: 15vw;
  object-fit: cover;
}

.group-card-container {
  display: flex;
  flex-flow: row wrap;
  flex: 6;
  justify-content: center;
  width: 72%;
  margin-left: 15vw;
}

.card-container {
  width: 30%;
  display: flex;
  margin: 3% 3% 3% 0;
}