.group-card-img {
  width: 20vw;
  height: 15vw;
  object-fit: cover;
}

.game-card-img {
  max-width: 275px;
  max-height: 225px;
  object-fit: contain;
}

.group-card-container {
  display: flex;
  flex-flow: row wrap;
  flex: 6;
  justify-content: center;
  width: 72%;
  margin-left: 15vw;
}

.card-container {
  width: 20%;
  display: flex;
  margin: 3% 3% 3% 0;
}